@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

:root {
    /* ### Primary */

    --Pink: hsl(322, 100%, 66%);

    /* ### Neutral */

    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}

.build {
    background-color: var(--Very-Pale-Cyan);
    background-image: url('../images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    padding: 3em;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

.header button {
    border: none;
    background-color: #fff;
    border-radius: 19px;
    font-size: 14px;
    padding: 6px 26px;
    cursor: pointer;
}

.home-hero {
    text-align: center;

}

.home-hero-text h1 {
    font-size: 28px;
    margin: 112px 0 0;
    text-align: center;
}

.home-hero-text p {
    font-size: 18px;
    font-weight: 300;
    margin: 40px 0;
}

.home-hero-text button {
    border: none;
    color: #fff;
    background-color: var(--Pink);
    border-radius: 20px;
    font-size: 14px;
    padding: 12px 68px;
    cursor: pointer;
    margin-bottom: 40px;
}

.home-hero img {
    width: 96%;
}

/* cards */

.card img {
    width: 100%;
    margin-bottom: 20px;
}

.card {
    text-align: center;
    box-shadow: 2px 8px 16px #808D99;
    border-radius: 10px;
    padding: 20px;
    margin: 10%;
}

.get-started {
    margin: 20px;
    box-shadow: 2px 4px 13px #808D99;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    transform: translateY(50%);
    font-weight: 400;
    top: -16%;
}

.get-started h2 {
    font-size: 14px;
}

.get-started button {
    border: none;
    color: #fff;
    background-color: var(--Pink);
    border-radius: 20px;
    font-size: 14px;
    padding: 12px 48px;
    cursor: pointer;
}


footer {
    background-color: var(--Very-Dark-Cyan);
    padding-top: 120px;
}

.logo-bottom{
    padding-left: 30px;
}
.contacts {
    color: #fff;
    padding: 0px 30px;
}


.contact-details__items {
    display: flex;
    align-items: baseline;
}

.contact-details i {

    font-size: 14px;
    margin-right: 5%;
}

.contact-details p {
    font-size: 12px;
    line-height: 28px;

}

.footer-links {
    padding: 20px;
    color: #fff;
}

.contact-links a {
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    display: block;
}


.social-media-handle {
    text-align: center;
    color: #fff;
}

.social-media-handle i {
    border: 2px solid;
    padding: 10px;
    margin: 15px 10px 0 0;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width: 320px){
    .header button{
    padding: 6px;
    }
}

@media screen and (min-width:768px) {
    

    .logo-top{
        width: 200px;
        height: auto;
    }

    .get-started {
        width: 50%;
        margin: 0 auto;
    }

    .get-started h2 {
        font-size: 18px;
    }

    
    .float-text .float-image {
        width: 380px;
    }

    .float-text {
        padding-left: 5%;
    }

    .card-reverse-image {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .card {
        text-align: center;
        box-shadow: 2px 8px 16px #808D99;
        border-radius: 10px;
        padding: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }

    .card h3,
    p {
        text-align: left;
    }

    .card p {
        font-size: 18px;
        font-family: 'Open Sans';
    }

}

@media screen and (min-width:1024px) {

    .build {
        background-image: url('../images/bg-hero-desktop.svg');
        background-repeat: no-repeat;
    }
   

    .header button {
        border-radius: 20px;
        font-size: 18px;
        padding: 16px 64px;
        font-weight: 200;
    }

    .home-hero-text {
        padding-right: 5%;
    }

    .home-hero-text h1 {
        text-align: left;
        margin-top: 80px;
    }

    .home-hero-text p {
        margin: 15px 0;
        font-size: 18px;
    }

    .home-hero-text button {
        font-size: 24px;
        padding: 12px 68px;
    }

    .hero-image {
        margin-top: 4%;
    }

    .float-text .float-image {
        width: 380px;
    }

    .float-text {
        padding-left: 80px;
    }

    .card {
        padding: 40px;
        margin: 90px 90px 0;
    }

    .card p {
        font-size: 20px;
        text-align: left;
    }

    .card h3 {
        font-size: 28px;
        text-align: left;
    }

    .get-started h2 {
        font-size: 24px;
    }

    .get-started button {
        font-size: 18px;
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer {
        padding: 120px 90px 0px 90px;
    }

    .contacts {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        height: 300px;
    }

    .contact-details {
        flex-basis: 30%;
    }


    .contact-details i {
        font-size: 18px;
    }

    .contact-details p {
        font-size: 22px;
    }

    .contacts p {
        padding-right: 0;
        font-size: 14px;
    }

    .footer-links {
        padding-top: 70px;
        align-self: center;
        padding-right: 0;
        display: flex;
    }

    .contact-links a {
        font-size: 14px;
        padding-top: 0;
    }

    .footer-links {
        padding-right: 10px;
    }
    .social{
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .social-media-handle {
        display: flex;
    }

    .social-media-handle i {
        padding: 5px;
    }

}

@media screen and (min-width:1440px) {

    .hero-image {
        margin-top: 50px
    }
}